<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.pagopa.bs.web.mapper.PspMapper">

    <resultMap id="psp" type="it.pagopa.bs.checkiban.model.persistence.Psp">
        <id column="psp_id" property="pspId" />
        <result column="en_name" property="name" />
        <result column="en_type" property="type" />
        <result column="en_support_email" property="supportEmail" />
        <result column="en_created_datetime" property="createdDatetime" />
        <result column="en_updated_datetime" property="updatedDatetime" />
        <result column="psp_national_code" property="nationalCode" />
        <result column="psp_country_code" property="countryCode" />
        <result column="psp_bic_code" property="bicCode" />
        <result column="psp_account_value_type" property="accountValueType" />
        <result column="psp_is_blacklisted" property="blacklisted" />

        <result column="RESULT_COUNT" property="resultCount" />
    </resultMap>

    <select id="search" resultMap="psp">
        SELECT p.*, e.*, COUNT(DISTINCT p.psp_id) OVER() AS RESULT_COUNT
        FROM pagopa_ma_entity e
        JOIN pagopa_ma_psp p ON e.en_id = p.psp_id
        <where>
            <include refid="it.pagopa.bs.web.mapper.EntityMapper.searchFilters">
                <property name="__prefix" value="e."/>
                <property name="__field" value="filter"/>
            </include>
            <include refid="searchFilters">
                <property name="__prefix" value="p."/>
                <property name="__field" value="filter"/>
            </include>
        </where>
        ORDER BY
        <include refid="sorting">
            <property name="__prefix" value="e."/>
        </include>
        <include refid="secondarySorting">
            <property name="__prefix" value="p."/>
        </include>
        <include refid="CoreUtils.pagination" />
    </select>

    <sql id="searchFilters">
        <if test="${__field} != null">
            <include refid="CoreUtils.fieldSearchCondition">
                <property name="__column" value="${__prefix}psp_id"/>
                <property name="__filter" value="${__field}.pspId"/>
            </include>
            <include refid="CoreUtils.fieldSearchCondition">
                <property name="__column" value="${__prefix}psp_national_code"/>
                <property name="__filter" value="${__field}.nationalCode"/>
            </include>
            <include refid="CoreUtils.fieldSearchCondition">
                <property name="__column" value="${__prefix}psp_country_code"/>
                <property name="__filter" value="${__field}.countryCode"/>
            </include>
            <include refid="CoreUtils.fieldSearchCondition">
                <property name="__column" value="${__prefix}psp_bic_code"/>
                <property name="__filter" value="${__field}.bicCode"/>
            </include>
            <include refid="CoreUtils.fieldSearchCondition">
                <property name="__column" value="${__prefix}psp_account_value_type"/>
                <property name="__filter" value="${__field}.accountValueType"/>
            </include>
            <include refid="CoreUtils.booleanSearchCondition">
                <property name="__column" value="${__prefix}psp_is_blacklisted"/>
                <property name="__filter" value="${__field}.blacklisted"/>
            </include>
        </if>
    </sql>

    <sql id="sorting">
        <foreach collection="entitySortingItems" item="sortingItem" separator=",">
            ${__prefix}${sortingItem.fieldName} ${sortingItem.direction.type}
        </foreach>
        <if test="entitySortingItems.size() > 0 and pspSortingItems.size() > 0"> <!-- add comma if there needs to be secondary sorting -->
            ,
        </if>
    </sql>

    <sql id="secondarySorting">
        <foreach collection="pspSortingItems" item="sortingItem" separator=",">
            ${__prefix}${sortingItem.fieldName} ${sortingItem.direction.type}
        </foreach>
    </sql>

    <select id="getOneById" resultMap="psp">
        SELECT * FROM pagopa_ma_entity
        JOIN pagopa_ma_psp ON en_id = psp_id
        WHERE psp_id = #{pspId}
        AND en_is_deleted = 0
    </select>

    <select id="getOneByIdAlsoDeleted" resultMap="psp">
        SELECT * FROM pagopa_ma_entity
         JOIN pagopa_ma_psp ON en_id = psp_id
        WHERE psp_id = #{pspId}
    </select>

    <select id="getOneByNationalAndCountryCode" resultMap="psp">
        SELECT * FROM pagopa_ma_entity
        JOIN pagopa_ma_psp ON en_id = psp_id
        WHERE psp_national_code = #{nationalCode}
        AND psp_country_code = #{countryCode}
        AND en_is_deleted = 0
    </select>

    <insert id="createOne" useGeneratedKeys="true" keyProperty="pspId" keyColumn="psp_id">
        INSERT INTO pagopa_ma_psp
        (
            psp_id,
            psp_is_blacklisted,
            psp_national_code,
            psp_country_code,
            psp_bic_code,
            psp_account_value_type
        )
        VALUES
        (
            #{psp.pspId},
            #{psp.blacklisted},
            #{psp.nationalCode},
            #{psp.countryCode},
            #{psp.bicCode},
            #{psp.accountValueType}
        )
    </insert>

    <update id="updateOne">
        UPDATE pagopa_ma_psp
        <set>
            psp_id = psp_id,
            <if test="psp.blacklisted != null and psp.blacklisted != ''">
                psp_is_blacklisted = #{psp.blacklisted},
            </if>
            <if test="psp.nationalCode != null and psp.nationalCode != ''">
                psp_national_code = #{psp.nationalCode},
            </if>
            <if test="psp.countryCode != null">
                psp_country_code = #{psp.countryCode},
            </if>
            <if test="psp.bicCode != null and psp.bicCode != ''">
                psp_bic_code = #{psp.bicCode},
            </if>
            <if test="psp.accountValueType != null">
                psp_account_value_type = #{psp.accountValueType}
            </if>
        </set>
        WHERE psp_id = #{pspId}
        AND psp_deleted_datetime_mirror IS NULL
    </update>

    <update id="deleteOneById">
        UPDATE pagopa_ma_psp
        SET
            psp_deleted_datetime_mirror = #{entityDeletedDatetime}
        WHERE psp_id = #{pspId}
        AND psp_deleted_datetime_mirror IS NULL
    </update>

</mapper>